html {
    scroll-behavior: smooth;
}

#start-screen.hide {
    display: none;
}

#start-screen {
    position: absolute;
    height: 100%;
    width: 100%;
}

#blip-chat-button-over.show {
    display: block;
}

#blip-chat-button-over {
    z-index: 101;
    position: absolute;
    display: none;
    top: 0;
    left: 0;
    height: 53px;
    width: 65px;
}

#back-menu-icon {
    padding-top: 14px;
    width: 35px;
    height: 35px;
    position: absolute;
    float: left;
    padding-left: 24px;
}

#chat-over {
    height: 100%;
    width: 100%;
    background: #000000 !important;
    position: absolute;
    top: 0;
    left: 0;
    cursor: pointer;
}

.start-screen-content::-webkit-scrollbar {
    width: 6px;
    z-index: 1;
}

.start-screen-content::-webkit-scrollbar-track {
    background: rgba(0, 0, 0, 0.4);
}

.start-screen-content::-webkit-scrollbar-thumb {
    background: #000000;
}

.start-screen-content::-webkit-scrollbar-thumb:hover {
    background: #000000;
}

#bottom-section.hide {
    animation: RemoveBottomDisplay var(--animation-duration) forwards;
}

#bottom-section {
    background: #FAF9F8;
    position: absolute;
    width: 100%;
    height: 48px;
    bottom: 0;
    z-index: 100;
    cursor: pointer;
}

.scroll-image {
    padding-right: 8px;
    width: 16px;
    height: 16px;
    border-radius: 50%;
}

.bottom-content {
    padding-top: 16px;
    width: 100%;
    display: flex;
    justify-content: center;
}

.scroll-phrase {
    font-family: Montserrat;
    font-size: 16px;
    color: #000000;
}

.top-section {
    background: #000000;
    position: sticky;
    width: 100%;
    height: 48px;
    top: 0;
    z-index: 100;
}

.top-icon {
    top: 0;
    width: 32px;
    height: 32px;
    z-index: 3;
    position: absolute;
    float: left;
    padding-top: 8px;
    padding-left: 24px;
}

.image-icon {
    height: auto;
    width: 36px;
}

.close-button {
    width: 32px;
    height: 32px;
    z-index: 3;
    float: right;
    padding-right: 16px;
    cursor: pointer;
    display: none;
}

.greeting-phrase {
    position: absolute;
    font-family: Montserrat;
    font-size: 12px;
    color: #f9f9f9;
    left: 68px;
    top: 18px;
}

.offer-question {
    font-family: Montserrat;
    font-weight: bold;
    font-size: 18px;
    color: #505050;
    padding: 22px 0px 22px;
    letter-spacing: 0.1em;
}

.start-screen-content {
    position: absolute;
    max-height: calc(100% - 48px);
    right: 0px;
    left: 0px;
    background: #FAF9F8;
    top: 48px;
    padding: 0 24px;
    overflow-y: scroll;
}

@media only screen and (max-width : 375px) {

    .start-screen-content {
        padding: 0 16px;
    }

    .offer-question {
        padding-top: 6px;
    }
}

.subjects-box {
    padding-bottom: 32px;
    background: #FAF9F8;
    position: relative;
    border-radius: 4px;
    z-index: 2;
}

.subject-item {
    text-align: center;
    background: #FFFFFF;
    padding-left: 12px;
    padding-top: 12px;
    padding-bottom: 12px;
    font-family: Montserrat;
    font-weight: bold;
    font-size: 12px;
    border-radius: 8px;
    box-shadow: 0px 2px 8px rgba(0, 0, 0, 0.1);
    cursor: pointer;
}

.subject-item:hover {
    background: #000000;
    color: #FFFFFF;
}

.subject-phrase {
    font-family: Montserrat;
    font-weight: bold;
    font-size: 16px;
    color: #000000;
}

.subjects-box div {
    display: grid;
    position: relative;
    margin-top: 4px;
    margin-bottom: 8px;
    top: 4px;
}

.question-box {
    z-index: 2;
    background: #FAF9F8;
}

.ask-question-section {
    overflow: hidden;
    position: relative;
    margin: 16px 0px 32px;
    height: 52px;
    background: #505050;
    background-clip: content-box;
    border-radius: 8px;
    border: 1px solid #505050;
}

.ask-question-phrase {
    font-weight: bold;
    font-family: Nunito;
    font-size: 16px;
    color: #505050;
}

.ask-question-input {
    width: calc(100% - 52px);
    height: 100%;
    padding: 12px;
    border: 1px solid #505050;
    box-sizing: border-box;
    border-top-left-radius: 8px;
    border-bottom-left-radius: 8px;
}

input::placeholder {
    font-family: Nunito;
    font-size: 14px;
}

.question-image-box {
    background: #000;
    cursor: pointer;
    float: right;
    width: 52px;
    height: 100%;
    left: calc(100% - 52px);
}

.question-image {
    position: relative;
    width: 37px;
    height: 37px;
    left: 8px;
    top: 8px;
    background-size: 37px 37px !important;
}

.search-image {
    background: url(../images/question.png);
}

.recall-image {
    background: url(../images/search.svg);
}



@media only screen and (max-width : 425px) {
    .close-button {
        display: block;
    }
}

@media only screen and (max-width: 375 px) {
    .greeting-phrase {
        font-size: 12px;
        top: 36px;
    }

    .offer-question {
        font-size: 14px;
        padding-top: 6px;
        top: 52px;
    }
}