#blip-chat-iframe {
    height: 100% !important;
    opacity: 0 !important;
}

#start-screen {
    opacity: 0 !important;
}

:root {
    --first-color: #000000;
    --second-color: #ffffff;
    --third-color: #8f9299;
    --animation-duration: 0.3s;
}

g#close {
    fill: var(--second-color);
}

#bubble-container {
    overflow-x: hidden;
    position: relative;
    top: 15px;
    padding-bottom: 15px;
    padding-top: 15px;
    padding-left: 15px;
}

#message-bubble {
    max-width: 250px;
    display: flex;
    margin-right: 8px;
    cursor: pointer;
    animation: BubbleLoad var(--animation-duration) forwards;
}

#message-bubble.hide {
    animation: BubbleUnload var(--animation-duration) forwards;
}

#message-bubble>#message {
    display: flex;
    padding: 15px;
    font-weight: bold;
    font-family: 'Roboto';
    font-size: 16px;
    box-shadow: 0 1px 6px rgba(0, 0, 0, 0.1),
        0 2px 32px rgba(0, 0, 0, 0.1);
    color: var(--third-color);
    background-color: var(--second-color);
    border-radius: 5px;
}

#message-bubble>#triangle {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 30px;
    height: 50px;
    position: relative;
    overflow: hidden;
}

#message-bubble>#triangle::after {
    content: "";
    position: absolute;
    width: 50px;
    height: 50px;
    background: var(--second-color);
    transform: rotate(45deg);
    right: 28px;
    border-radius: 5px;
    box-shadow: 0 1px 6px rgba(0, 0, 0, 0.1),
        0 2px 32px rgba(0, 0, 0, 0.1);
}

#blip-chat-close-icon {
    background-color: var(--first-color) !important;
    display: block !important;
    opacity: 0;
}

#blip-chat-close-icon.display {
    animation: CloseIconDisplay var(--animation-duration) forwards;
}

#blip-chat-close-icon.hide {
    animation: CloseIconHide var(--animation-duration) forwards;
}

/* Styles to icon and bubble hover */

#blip-chat-icon>img {
    transition: var(--animation-duration) !important;
    height: 100% !important;
    width: 100% !important;
    position: absolute;
    top: 0;
    left: 0;
}

#blip-chat-icon>img.top {
    opacity: 1;
}

#blip-chat-icon>img.bottom {
    opacity: 0;
}

#blip-chat-open-iframe:hover>#blip-chat-icon>img.top {
    opacity: 0;
}

#blip-chat-open-iframe:hover>#blip-chat-icon>img.bottom {
    opacity: 1;
}

#blip-chat-open-iframe {
    background-color: var(--second-color) !important;
    transition: var(--animation-duration) !important;
}

#blip-chat-open-iframe:hover {
    background-color: var(--first-color) !important;
    transition: var(--animation-duration) !important;
}

#blip-chat-container #blip-chat-open-iframe img,
#blip-chat-container #blip-chat-open-iframe svg {
    width: 90% !important;
    height: auto !important;
    border-radius: 50% !important;
    left: 4px !important;
    top: 3px !important;
}

@media (max-width: 480px) {
    #bubble-container {
        display: none;
    }
}

@media (max-height: 480px) {
    #bubble-container {
        display: none;
    }
}

/* Keyframes */

@keyframes RemoveBottomDisplay {
    0% {
        opacity: 1;
    }

    100% {
        opacity: 0;
    }
}

@keyframes CloseIconDisplay {
    0% {
        transform: rotate(45deg);
        opacity: 0;
    }

    100% {
        transform: rotate(90deg);
        opacity: 1;
    }
}

@keyframes CloseIconHide {
    0% {
        transform: rotate(90deg);
        opacity: 1;
    }

    50% {
        opacity: 0;
    }

    100% {
        transform: rotate(45deg);
        opacity: 0;
    }
}

@keyframes BubbleLoad {
    0% {
        opacity: 0;
        margin-right: -250px;
    }

    50% {
        opacity: 0;
    }

    100% {
        opacity: 1;
        margin-right: 8px;
    }
}

@keyframes BubbleUnload {
    0% {
        opacity: 1;
        margin-right: 8px;
    }

    50% {
        opacity: 0;
    }

    100% {
        opacity: 0;
        margin-right: -250px;
    }
}

#blip-chat-iframe-container {
    /* Takes position as parent */
    overflow: hidden;
    display: block;
    position: fixed;
    /* Copied fixed chat values  */
    width: 400px;
    height: calc(100vh - 130px);
    right: 38px;
    bottom: 115px;
    /* Hide and lower chat for animation */
    opacity: 0;
    transition: opacity 500ms, transform 500ms, visibility 500ms, height 0s 500ms;
    transform: translateY(10%);
    box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
    border-radius: 4px;
    overflow-y: none;
}

#blip-chat-iframe-container.blip-chat-iframe-opened {
    /* Open chat animation */
    opacity: 1 !important;
    transform: translateY(0%);
}

#blip-chat-container #blip-chat-iframe {
    /* Force inner iframe fit no parent */
    position: relative !important;
    right: 0px !important;
    bottom: 0px !important;
    width: 100% !important;
    transform: translateY(0%) !important;
    height: 100% !important;
    opacity: 1 !important;
    max-height: calc(100vh - 16px) !important;
}

#blip-chat-start-screen.slide {
    left: -100%;
}

#blip-chat-iframe-container.hide {
    height: 0px !important;
    width: 0px !important;
}

#blip-chat-start-screen {
    transition: 0.5s;
    overflow: hidden;
    left: 0;
    top: 0;
    z-index: 10;
    width: 100%;
    height: 100%;
    position: fixed;
}

@media screen and (max-width: 480px),
screen and (max-height: 420px) {
    #blip-chat-iframe-container.hide {
        height: 0px !important;
        width: 0px !important;
    }

    #blip-chat-iframe-container {
        /* Copied fixed chat values  */
        top: 0px;
        width: 100%;
        height: 100%;
        max-height: 100% !important;
        bottom: 0;
        right: 0;
    }
}